/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*<-----------------------------Filter----------------------------->*/

.card-filter__contrast {
  filter: contrast(200%);
}

.card-filter__opacity {
  filter: opacity(0.5);
}

.card-filter__grayscale {
  filter: grayscale(0.8);
}

.card-filter__blur {
  filter: blur(0.2em);
}

.card-filter__brightness {
  filter: brightness(200%);
}

.card-filter__saturate {
  filter: saturate(200%);
}

.card-filter__hue-rotate {
  filter: hue-rotate(-90deg);
}

.card-filter__invert-and-blur {
  filter: invert(0.7) blur(0.2em);
}

/*<-----------------------------Other-class----------------------------->*/

.clamp-witdh {
  width: var(--width-clamp);
}

.button {
  position: relative;
  background-color: var(--color-bg);
  outline: none;
  border: 2px solid var(--color-accent);
  font-family: var(--font-press-start);
  font-weight: var(--font-weight-noraml);
  font-size: var(--size-card-text-button);
  transition: box-shadow 0.3s ease, scale 0.5s ease-in-out;
  z-index: 1;
}

.button::before {
  --color-accent: #000;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button > span {
  --color-accent: #fff;
  position: relative;
  z-index: 1;
  color: var(--color-accent);
  mix-blend-mode: difference;
}

/*<-----------------------------Pseudo-classes----------------------------->*/

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
}

/*<-----------------------------Page----------------------------->*/

.page {
  position: relative;
  z-index: -1;
  min-inline-size: 375px;
  max-inline-size: 700px;
  font-family: var(--font-inter), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal);
  min-block-size: 100dvb;
  margin: 0 auto;
  background-image: var(--bg-gradient);
  object-fit: cover;
  background-attachment: fixed;
}

/*<-----------------------------Header----------------------------->*/

.header {
  padding: 100px 0;
  min-height: 527px;
}

.header__logo {
  display: flex;
  padding: 120px 14px;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-press-start), sans-serif;
  text-align: center;
  border: 2px solid var(--color-accent);
  background-color: var(--color-bg);
}

@media (min-width: 1440px) {
  .header__logo {
    padding: 128px 120.5px;
  }
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/*<-----------------------------Main----------------------------->*/

.main {
  display: flex;
  flex-direction: column;
}

/*<-----------------------------Card----------------------------->*/

section:not(section:last-child) {
  margin-bottom: 49px;
}

@media (min-width: 1440px) {
  section:not(section:last-child) {
    margin-bottom: 48px;
  }
}

.card {
  border: 2px solid var(--color-accent);
  background-color: var(--color-bg);
}

.card__title {
  padding: 4px 10px 6px;
  font-weight: var(--font-weight-bold);
}

.card__title-text {
  font-size: var(--size-card-text-title);
}

.card__img {
  min-height: 375px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  background-blend-mode: hard-light;
}

.card__img img {
  width: 100%;
}

@media (min-width: 1440px) {
  .card__img {
    min-height: 696px;
  }
}

.card__label {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--font-press-start);
  font-weight: var(--font-weight-noraml);
  font-size: var(--size-card-text-label);
  opacity: 0.5;
  -webkit-text-stroke: 0.01em var(--card-shdow-color);
}

@supports (-webkit-text-stroke: 0.01em var(--card-shdow-color)) {
  .card__label {
    -webkit-text-shadow: -1px -1px 0 var(--card-shdow-color),
      1px -1px 0 var(--card-shdow-color), -1px 1px 0 var(--card-shdow-color),
      1px 1px 0 var(--card-shdow-color);
    text-shadow: -1px -1px 0 var(--card-shdow-color),
      1px -1px 0 var(--card-shdow-color), -1px 1px 0 var(--card-shdow-color),
      1px 1px 0 var(--card-shdow-color);
  }
}

.card__footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 25px;
  padding: 25px 25px 25px 25px;
}

@media (min-width: 1440px) {
  .card__footer {
    padding: 27px 25px 25px 25px;
    gap: 22px;
  }
}

.card__description {
  flex-direction: column;
  display: flex;
  gap: 25px;
  line-height: 21px;
  font-size: var(--size-card-text-description);
}

@media (min-width: 1440px) {
  .card__description {
    gap: 27px;
  }
}

.card__buttons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__like-button {
  width: 118px;
  height: 31px;
  outline: none;
}

/*<-----------------------------icon-heart----------------------------->*/

.card__icon-button {
  border: none;
  outline: none;
  background-color: var(--color-bg);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-accent);
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  --svg-contour-color: #ff0000;
  fill: var(--svg-contour-color);
  transition: fill 0.3s 0.06s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--svg-core-color);
}

.like-icon:active .core {
  --svg-core-color: #ff0000;
  transition: fill 0.3s linear;
  fill: var(--svg-core-color);
}

.like-icon.is-liked .core {
  --svg-core-color: #ff0000;
  fill: var(--svg-core-color);
  transition: fill 0.3s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  --animation-fill-color: #000;
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  --animation-fill-color: #ff0000;
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  --animation-fill-color: #ff0000;
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.1s 0.3s ease-in;
}

/*<-----------------------------Footer----------------------------->*/

.footer {
  display: flex;
  justify-content: center;
  padding: 46px 31px 100px 31px;
}

@media (min-width: 375px) {
  .footer {
    padding: 50px 31px 100px 31px;
  }
}

.button-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px 15px 20px;
  gap: 7px;
}

@media (min-width: 1440px) {
  .button-footer {
    flex-direction: row;
    padding: 16px;
  }
}

@media (min-width: 1440px) {
  .floppy-icon__footer {
    margin-bottom: 0;
    margin-right: 3.5px;
    width: 21px;
    height: 21px;
  }
}

.floppy-icon__footer {
  fill: white;
  mix-blend-mode: difference;
}

.floppy-icon__footer:focus {
  outline: none;
}

.floppy-icon__footer:focus-visible {
  outline: 2px solid var(--color-accent);
}

/*<-----------------------------Modal----------------------------->*/

.modal-window:is([open]) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: fixed;
  inset: 0;
  width: clamp(341px, 90vw, 353px);
  padding: 30px 42px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
  backdrop-filter: blur(7px);
}

@media (min-width: 1440px) {
  .modal-window:is([open]) {
    padding: 30px 30px;
  }
}

.modal-window__text-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
}

.button-modal {
  width: 100%;
  min-height: 38px;
}

.modal-window__text {
  line-height: 150%;
  text-transform: uppercase;
  font-size: var(--font-modal-size);
  font-family: var(--font-press-start);
  font-weight: var(--font-weight-noraml);
}
