/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*<-----------------------------Other-class----------------------------->*/

.clamp-witdh {
  width: var(--width-clamp);
}

.button {
  background-color: #fff;
  border: 2px solid var(--color-main);
  font-family: var(--font-press-start);
  font-weight: var(--font-weight-noraml);
  font-size: var(--size-card-text-button);
}

/*<-----------------------------Page----------------------------->*/
.page {
  min-inline-size: 375px;
  max-inline-size: 700px;
  font-family: var(--font-inter), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal);
  min-block-size: 100dvb;
  margin: 0 auto;
  background-image: var(--bg-gradient);
  object-fit: cover;
  background-attachment: fixed;
}

/*<-----------------------------Header----------------------------->*/

.header {
  padding: 100px 0;
  min-height: 527px;
}

.header__logo {
  display: flex;
  padding: 120px 14px;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-press-start), sans-serif;
  text-align: center;
  border: 2px solid var(--color-main);
  background-color: var(--color-bg);
}

@media (min-width: 1440px) {
  .header__logo {
    padding: 128px 120.5px;
  }
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/*<-----------------------------Main----------------------------->*/

.main {
  display: flex;
  flex-direction: column;
}

/*<-----------------------------Card----------------------------->*/

section:not(section:last-child) {
  margin-bottom: 51px;
}

@media (min-width: 1440px) {
  section:not(section:last-child) {
    margin-bottom: 50px;
  }
}

.card {
  border: 2px solid var(--color-main);
  background-color: var(--color-bg);
}

.card__title {
  padding: 4px 10px 6px;
  font-weight: var(--font-weight-bold);
}

.card__title-text {
  font-size: var(--size-card-text-title);
}

.card__img {
  min-height: 375px;
  background: var(--card-img) center/cover no-repeat;
  object-fit: cover;
  background-position: center;
  position: relative;
  background-blend-mode: hard-light;
}

@media (min-width: 1440px) {
  .card__img {
    min-height: 696px;
  }
}

.card__label {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--font-press-start);
  font-weight: var(--font-weight-noraml);
  font-size: var(--size-card-text-label);
  opacity: 0.5;
  -webkit-text-stroke: 0.01em var(--card-shdow-color);
}

@supports (-webkit-text-stroke: 0.01em var(--card-shdow-color)) {
  .card__label {
    -webkit-text-shadow: -1px -1px 0 var(--card-shdow-color),
      1px -1px 0 var(--card-shdow-color), -1px 1px 0 var(--card-shdow-color),
      1px 1px 0 var(--card-shdow-color);
    text-shadow: -1px -1px 0 var(--card-shdow-color),
      1px -1px 0 var(--card-shdow-color), -1px 1px 0 var(--card-shdow-color),
      1px 1px 0 var(--card-shdow-color);
  }
}

.card__footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 25px 25px;
}

@media (min-width: 1440px) {
  .card__footer {
    padding: 27px 25px 25px 25px;
    gap: 27px;
  }
}

.card__description {
  flex-direction: column;
  display: flex;
  gap: 25px;
  line-height: 21px;
  font-size: var(--size-card-text-description);
}

@media (min-width: 1440px) {
  .card__description {
    gap: 27px;
  }
}

.card__like-button {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  align-self: end;
  border: none;
  background-color: transparent;
}

.button-card {
  padding: 10px 35px;
}

.like-icon {
  width: 27px;
  height: 24px;
}

/*<-----------------------------Dialog----------------------------->*/

.footer {
  display: flex;
  justify-content: center;
  padding: 52px 31px 100px 31px;
}

.button-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px 15px 20px;
  gap: 8px;
}

@media (min-width: 1440px) {
  .button-footer {
    flex-direction: row;
    padding: 15px 20px 15px 20px;
  }
}

@media (min-width: 1440px) {
  .floppy-icon__footer {
    margin-bottom: 0;
    margin-right: 3.5px;
    width: 21px;
    height: 21px;
  }
}

/*<-----------------------------Modal----------------------------->*/

.modal-window:is([open]) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: fixed;
  inset: 0;
  width: clamp(341px, 90vw, 353px);
  padding: 30px 42px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
  backdrop-filter: blur(7px);
}

@media (min-width: 1440px) {
  .modal-window:is([open]) {
    padding: 30px 30px;
  }
}

.modal-window__text-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
}

.button-modal {
  width: 100%;
  min-height: 38px;
}

.modal-window__text {
  line-height: 150%;
  text-transform: uppercase;
  font-size: var(--font-modal-size);
  font-family: var(--font-press-start);
  font-weight: var(--font-weight-noraml);
}
